---
import { HOMEPAGE_URL, SITE_TITLE } from "../consts";

---

<footer class="font-macondo text-zinc-500 text-center">
	&copy; {new Date().getFullYear()} <a class="font-bold" href={HOMEPAGE_URL}>{SITE_TITLE}</a>  All rights reserved.
</footer>