---
import MenuButton from "./MenuButton.astro";
import SearchBar from "./SearchBar.astro";
---

<div class="flex justify-between items-center relative">
  <!-- Menu Button -->
  <MenuButton />

  <!-- Search -->
    <SearchBar />
</div>


